<h2><%= @project.title %></h2>

<a href="/project/<%= @project.id %>/edit">Edit Project</a>

<!-- <form action="/project/<%= @project.id %>" method="post">

  <div class="form-group">

    <label for="name">Volunteer name</label>
    <input name="name" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Add Volunteer to project</button>
</form> -->
